In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = '../../dataSource/expression_rpkm_new.csv'
df = pd.read_csv(file_path)

In [3]:
print(df.shape)
df.head()

(98661, 1345)

,geneID,e14_Wet_3,e45_Wet_3,e165_Wet_3,e178_Dry_3,e7_Wet_3,e165_Dry_3,e50_Dry_3,e43_Dry_3,e123_Dry_3,...,e28_Dry_1,e192_Dry_1,e71_Wet_1,e28_Wet_1,e119_Dry_1,e215_Dry_1,e6_Wet_1,e195_Dry_1,e18_Dry_1,e167_Wet_1
0,EPlOSAT00000003714,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
1,OS01T0100100-01,0.0,2.036811,4.031091,0.0,0.0,0.0,0.0,0.000000,2.193463,...,5.431891,8.269526,2.898875,0.0,0.0,0.0,0.0,0.0,2.97625,3.053256
2,OS01T0100200-01,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
3,OS01T0100300-00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
4,OS01T0100400-01,0.0,5.380890,0.000000,0.0,0.0,0.0,0.0,5.413474,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000

### 将转录本ID转换为基因ID

In [4]:
translate = pd.read_csv('../../dataSource/osa_IRGSP_1.txlens.txt',sep='\t')
translate

,tx_id,tx_name,gene_id,nexon,tx_len,cds_len,utr5_len,utr3_len
0,1,CAA34010,CAA34010,1,186,186,0,0
1,2,CAA34011,CAA34011,1,111,111,0,0
2,3,CAA34012,CAA34012,1,303,303,0,0
3,4,CAA34013,CAA34013,1,1062,1062,0,0
4,5,CAA34014,CAA34014,1,1422,1422,0,0
...,...,...,...,...,...,...,...,...
43392,43393,BAC19898,BAC19898,1,567,567,0,0
43393,43394,BAC19901,BAC19901,1,522,522,0,0
43394,43395,EPlORYSAT000373620,EPlORYSAT000373620,1,71,0,0,0
43395,43396,BAC19904,BAC19904,1,483,483,0,0
43396,43397,EPlORYSAT000373615,EPlORYSAT000373615,1,72,0,0,0

In [5]:
# translate = pd.read_csv('../../dataSource/osa_IRGSP_1.txlens.txt',sep='\t')
#将df中geneID列的值按translate中tx_name和gene_id对应的值进行替换
# print(translate.head())
translate['tx_name'] = translate['tx_name'].str.upper()
translate_gene = translate.set_index('tx_name')['gene_id'].to_dict()
translate_gene
# 将df中geneID列的值按transelate_gene中tx_name的对应的gene_id进行替换
df['geneID'] = df['geneID'].map(translate_gene)

In [6]:
df

,geneID,e14_Wet_3,e45_Wet_3,e165_Wet_3,e178_Dry_3,e7_Wet_3,e165_Dry_3,e50_Dry_3,e43_Dry_3,e123_Dry_3,...,e28_Dry_1,e192_Dry_1,e71_Wet_1,e28_Wet_1,e119_Dry_1,e215_Dry_1,e6_Wet_1,e195_Dry_1,e18_Dry_1,e167_Wet_1
0,NaN,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
1,Os01g0100100,0.0,2.036811,4.031091,0.0,0.0,0.0,0.0,0.000000,2.193463,...,5.431891,8.269526,2.898875,0.0,0.0,0.0,0.0,0.0,2.97625,3.053256
2,Os01g0100200,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
3,Os01g0100300,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
4,Os01g0100400,0.0,5.380890,0.000000,0.0,0.0,0.0,0.0,5.413474,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98656,NaN,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
98657,NaN,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
98658,NaN,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
98659,NaN,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
98660,NaN,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000

In [7]:
#去除geneID为NaN的行
df = df.dropna(subset=['geneID'])
df

,geneID,e14_Wet_3,e45_Wet_3,e165_Wet_3,e178_Dry_3,e7_Wet_3,e165_Dry_3,e50_Dry_3,e43_Dry_3,e123_Dry_3,...,e28_Dry_1,e192_Dry_1,e71_Wet_1,e28_Wet_1,e119_Dry_1,e215_Dry_1,e6_Wet_1,e195_Dry_1,e18_Dry_1,e167_Wet_1
1,Os01g0100100,0.000000,2.036811,4.031091,0.0,0.000000,0.000000,0.000000,0.000000,2.193463,...,5.431891,8.269526,2.898875,0.0,0.0,0.0,0.0,0.000000,2.97625,3.053256
2,Os01g0100200,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
3,Os01g0100300,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
4,Os01g0100400,0.000000,5.380890,0.000000,0.0,0.000000,0.000000,0.000000,5.413474,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
5,Os01g0100466,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98645,Os09g0573100,17.675027,5.058446,5.005634,0.0,5.467664,10.914920,10.183021,5.089077,16.342482,...,6.745086,6.845825,7.199394,0.0,0.0,0.0,0.0,7.296186,0.00000,7.582801
98646,Os09g0573150,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
98647,Os09g0573200,5.580284,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,3.213403,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,4.607041,0.00000,0.000000
98648,Os09g0573200,0.000000,0.000000,0.000000,0.0,0.000000,7.496876,0.000000,6.990832,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
98649,Os09g0573200,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000

In [8]:
df.to_csv('../results/translate_expression_rpkm.csv', index=False)

In [10]:
df = pd.read_csv('../results/translate_expression_rpkm.csv')
df

,geneID,e14_Wet_3,e45_Wet_3,e165_Wet_3,e178_Dry_3,e7_Wet_3,e165_Dry_3,e50_Dry_3,e43_Dry_3,e123_Dry_3,...,e28_Dry_1,e192_Dry_1,e71_Wet_1,e28_Wet_1,e119_Dry_1,e215_Dry_1,e6_Wet_1,e195_Dry_1,e18_Dry_1,e167_Wet_1
0,Os01g0100100,0.000000,2.036811,4.031091,0.0,0.000000,0.000000,0.000000,0.000000,2.193463,...,5.431891,8.269526,2.898875,0.0,0.0,0.0,0.0,0.000000,2.97625,3.053256
1,Os01g0100200,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
2,Os01g0100300,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
3,Os01g0100400,0.000000,5.380890,0.000000,0.0,0.000000,0.000000,0.000000,5.413474,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
4,Os01g0100466,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42820,Os09g0573100,17.675027,5.058446,5.005634,0.0,5.467664,10.914920,10.183021,5.089077,16.342482,...,6.745086,6.845825,7.199394,0.0,0.0,0.0,0.0,7.296186,0.00000,7.582801
42821,Os09g0573150,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
42822,Os09g0573200,5.580284,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,3.213403,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,4.607041,0.00000,0.000000
42823,Os09g0573200,0.000000,0.000000,0.000000,0.0,0.000000,7.496876,0.000000,6.990832,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000
42824,Os09g0573200,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000

### 与蛋白质网络相关联

In [11]:
# 将df按df['geneID']和node的第一列内联
protein = pd.read_csv('../results/protein_drop_duplicates.csv')
df = df.merge(protein, left_on='geneID', right_on='protein1', how='inner')
# 去掉多余的列
df = df.drop(columns=['protein1', 'protein2','combined_score'])

In [12]:
df.to_csv('../results/rpkm_conbine_protein_network.csv', index=False)

### 筛选基因

In [15]:
df = pd.read_csv('../results/rpkm_conbine_protein_network.csv')
df

,geneID,e14_Wet_3,e45_Wet_3,e165_Wet_3,e178_Dry_3,e7_Wet_3,e165_Dry_3,e50_Dry_3,e43_Dry_3,e123_Dry_3,...,e28_Dry_1,e192_Dry_1,e71_Wet_1,e28_Wet_1,e119_Dry_1,e215_Dry_1,e6_Wet_1,e195_Dry_1,e18_Dry_1,e167_Wet_1
0,Os01g0100100,0.000000,2.036811,4.031091,0.0,0.000000,0.000000,0.000000,0.000000,2.193463,...,5.431891,8.269526,2.898875,0.00000,0.0,0.000000,0.0,0.000000,2.976250,3.053256
1,Os01g0100300,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
2,Os01g0100800,6.012407,6.882804,6.810944,0.0,3.719804,11.138586,0.000000,3.462241,3.706082,...,0.000000,0.000000,0.000000,4.95924,0.0,9.851992,0.0,9.927597,5.028681,5.158791
3,Os01g0101150,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
4,Os01g0101300,9.439051,0.000000,0.000000,0.0,11.679657,0.000000,10.876142,0.000000,0.000000,...,0.000000,7.311796,0.000000,0.00000,0.0,0.000000,0.0,7.792811,7.894672,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13350,Os09g0573000,0.000000,8.348686,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
13351,Os09g0573150,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
13352,Os09g0573200,5.580284,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,3.213403,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0,4.607041,0.000000,0.000000
13353,Os09g0573200,0.000000,0.000000,0.000000,0.0,0.000000,7.496876,0.000000,6.990832,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
13354,Os09g0573200,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000

In [16]:
df['zero_ratio'] = 1-df.iloc[:,1:].eq(0).mean(axis=1)
# 选出不等于0的列占比80%行
df = df.loc[df['zero_ratio'] >= 0.8]
# 打印规模
print(df.shape)
df.to_csv('../results/rpkm_conbine_protein_network_0.8.csv', index=False)

(819, 1346)

### 转置，用于与性状数据关联

In [17]:
df = pd.read_csv('../results/rpkm_conbine_protein_network_0.8.csv',header= None,low_memory=False)
data = df.values
data = list(map(list,zip(*data)))
data = pd.DataFrame(data)
data.to_csv('../results/rpkm_T.csv',header=0,index=0)

In [ ]:
data = pd.read_csv('../results/rpkm_T.csv')
data.head()

,geneID,Os01g0101700,Os01g0102700,Os01g0105900,Os01g0109300,Os01g0109700,Os01g0118400,Os01g0120300,Os01g0120500,Os01g0128800,...,Os09g0513000,Os09g0514600,Os09g0531100,Os09g0532700,Os09g0534200,Os09g0539100,Os09g0542100,Os09g0553800,Os09g0560400,Os09g0568900
0,e14_Wet_3,33.381458,11.221223,34.355198,9.210123,8.141581,88.536956,7.048557,94.550601,22.762338,...,13.922836,38.340464,18.532924,100.488216,20.048082,107.492056,34.028982,26.622270,21.388518,283.267450
1,e45_Wet_3,66.874474,44.959892,8.739709,2.108689,16.776381,83.468140,12.103431,82.982766,11.844349,...,37.189601,21.945445,50.918102,62.995672,19.125316,94.656415,25.970166,45.714438,24.484866,86.473381
2,e165_Wet_3,94.537539,31.778923,30.269620,4.173346,16.601229,23.599057,3.992355,110.678616,39.850345,...,26.286662,65.148978,33.590998,70.469012,15.140512,74.934531,25.699027,30.158107,0.000000,149.748487
3,e178_Dry_3,59.955689,40.308374,22.853556,0.000000,11.698329,68.596537,12.659755,101.892130,14.866518,...,16.670996,45.908299,13.314628,91.674735,24.005274,69.305053,36.218484,55.784941,15.366176,67.836043
4,e7_Wet_3,82.610842,20.827311,23.616835,0.000000,8.059359,6.444325,4.360858,116.994663,15.363041,...,22.970381,71.162366,36.691518,65.131381,16.538013,117.661022,14.035551,24.706323,21.172515,186.937813